
.std-form-main{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Hanken Grotesk", sans-serif;
  background: url(./std_login_image/5.jpg);
  background-size: cover;
  position: relative;
  z-index: 1;
}

.std-body{
  width:30%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #fff; */
  box-shadow: 2px 2px 5px black;
  border-radius: 10% ;
}

.std-form-main .std-bg-img{
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.std-form-head{
  width: 13vw;
  height: 10vh;
}

.std-form-head h2{
  color: #000;
  font-weight: 800;
  font-size: 1.6rem;
}
.logo img{
  width: 100%;
}

.logo {
  width: 13vw;
  height: 5vh;
  position: absolute;
  transform: translate(-40vw, -39vh);
  z-index: 1;
}

.std-body .std_form{
  width: fit-content;
  height: 73%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.std_form .std_inp1{
  padding: 0vh 0vw 0vh 2vw;
  /* width: 18vw; */
  width: 20vw;
  height: 5vh;
  border: none;
  color: white;
  outline: none;
  background-color: #007664;
  border-radius: 5px;
  box-shadow: 2px 1px 3px black;
  font-weight: 700;
}
/* .std_phoneinput{
  color: white;

  padding-left: 8vw;
} */
.std-body .std_form input{
  /* width: 20vw; 
   height: 5vh; */
  /* border: none; */
  color: white;
  /* outline: none; */
  background-color: #007664;
  font-family: "Hanken Grotesk", sans-serif;
  /* border-radius: 10px;/ */
  /* box-shadow: 2px 1px 3px black; */
  /* font-weight: 700;  */
  /* padding-left: 2vw;*/
}

.std_form .std_inp2{
  width: 9vw;
  height: 5vh;
  padding: 0vh 0vw 0vh 2vw;
  /* width: 20vw;
  height: 5vh;  */
  border: none;
  color: white;
  outline: none;
  background-color: #007664;
  border-radius: 5px;
  box-shadow: 2px 1px 3px black;
  font-weight: 700;
}

.std_form ::placeholder{
  color: white;
}
.std_form .std_phoneinput{
  /* background-color: #007664; */

}
.std_phoneinput ::placeholder{
  /* color: white; */
  height: 5vh;
  width: 100%; 
  border: none;
  /* font-weight: 600; */
  cursor: pointer;
  transition: .2s ease-in-out;
  font-weight: 700;

}
.std_form .std_otpdiv{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.std-body .std-form input::placeholder , .std-body .std-form textarea::placeholder {
  color: #fff;
}

.std-generate-otp {
  background-color: #fff;
  border: none;
  outline: none;
  box-shadow: 2px 1px 3px black;
  /* border-radius: 10px; */
  color: #000;
  font-weight: 600;
  /* margin-top: 3vh; */
  cursor: pointer;
  transition: .2s ease-in-out;
  border-radius: 5px;
  width: 9vw;
  height: 5vh;
}

.std-generate-otp:hover{
  background-color: #007664;
  color: #fff;
}


.std-buttons-div{
  height: 6vh;
  width: 7vw;
  background-color: #fff;
  border: none;
  outline: none;
  box-shadow: 2px 1px 3px black;
  border-radius: 10px;
  color: #000;
  font-weight: 600;
  margin-top: 3vh;
  cursor: pointer;
  transition: .2s ease-in-out;
  text-align: center;
  /* width: 10vw; */

}

.std-buttons-div:hover{
  background-color: #007664;
  color: white;
}

.std-home-button button{
  position: absolute;
  transform: translate(35vw, -75vh);
  width: 8vw;
  height: 4vh;
  background-color: #fff;
  border: none;
  outline: none;
  box-shadow: 2px 1px 3px black;
  border-radius: 10px;
  color: #000;
  font-weight: 600;
  margin-top: 3vh;
  cursor: pointer;
  transition: .2s ease-in-out;
  text-align: center;
}

.std-home-button button:hover{
  background-color: #007664;
  color: white;
}



#form-particles{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  display: flex;
}









